// Pagination
//varibles from bootstrap variables file

$pagination-padding-y:              .9rem;
$pagination-padding-x:              1.8rem;
$pagination-padding-y-sm:           .9rem;
$pagination-padding-x-sm:           1.8rem;
$pagination-padding-y-lg:           .9rem;
$pagination-padding-x-lg:           1.8rem;
$pagination-line-height:            1.5;

$pagination-color:                  $link-color ;
$pagination-bg:                     $white ;
$pagination-border-width:           0.1rem ;
$pagination-border-color:           $gray-500;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-300 ;
$pagination-hover-border-color:     $gray-500;

$pagination-active-color:           $white; //$gray-600;
$pagination-active-bg:              $blue-dk; //$gray-100;
$pagination-active-border-color:    $gray-500;

$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $gray-100;
$pagination-disabled-border-color:  $gray-500;

//additional styling
.pagination .page-item.disabled, .pagination .page-item.disabled .page-item{
    cursor:not-allowed !important;
}
ul.pagination{
    margin-top:.9rem;
    margin-bottom:.9rem;
    li{
        padding-bottom:0rem;
    }
}
